.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-in-room-i1 {
	font-size:(33/10)*1rem;
	width:(40/33)*1em;
}
.icon-in-room-i2 {
	font-size:(37/10)*1rem;
	width:(45/37)*1em;
}
.icon-in-room-i3 {
	font-size:(37/10)*1rem;
	width:(34/37)*1em;
}
.icon-in-room-i4 {
	font-size:(43/10)*1rem;
	width:(30/43)*1em;
}
.icon-in-room-i5 {
	font-size:(34/10)*1rem;
	width:(35/34)*1em;
}
.icon-in-room-i6 {
	font-size:(31/10)*1rem;
	width:(35/31)*1em;
}
.icon-in-room-i7 {
	font-size:(38/10)*1rem;
	width:(49/38)*1em;
}
.icon-in-room-i8 {
	font-size:(46/10)*1rem;
	width:(47/46)*1em;
}
.icon-phone {
	font-size:(384/10)*1rem;
	width:(384/384)*1em;
}
