
mixin modal() 
 
	//- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')
		
	//- 	div( class="   modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			+input("tel","Введите ваш телефон")(name="tel" required) 
				
	//- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
	//- 			+b.wrap-polite
	//- 				+b.custom-input.polite
	//- 					+b.LABEL.custom-input.polite
	//- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
	//- 						+e.SPAN.lab
	//- 						| Даю 
	//- 						| 
	//- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие 

	//- 						| на хранение и обработку   персональных данных
	
 

	//- #thanks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanks', aria-hidden='true')
	//- 	div( class=" ttext-center  modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			br
	//- 			.h2 Заявка принята
	//- 			br
	//- 			.h3 Скоро с Вами свяжутся
	//- 			br 
	.d-none
		+form-wrap()(id="modal-callback" class="  modal-win modal-form" )
			.text-center
				+e.H2.title Обратный звонок
				p Заполните заявку и мы свяжемся с Вами в ближайшее время
			+input("Ваше Имя")
			+input("Ваш телефон","tel")(required)
			+e.BUTTON.btn.btn.btn-warning(type="submit") Отправить
			+polite()
		
		
		+form-wrap()(id="modal-order" class="  modal-win modal-form modal-order" )
			.text-center
				+e.H2.title Бронирование номера
			.row
				.col-12
					+input("Ваше Имя*")(required)
				.col-12
					+input("Ваш телефон","tel")(required)
				.col-sm-6
					+input("дд.мм.гггг","date",'Заезд')(required)
				.col-sm-6
					+select("На","Кол-во ночей",'2 ночи','120 ночей')(required)
				.col-md-8.col-12
					+select("Номера","Выберите номер",'Двухмесный номер с 1 кроватью','Двухмесный номер с 1 кроватью')(required)
				.col-md-2.col-sm-6
					+select("Взрослые","2",'4')(required)
				.col-md-2.col-sm-6
					+select("Дети","0",'4')(required)

			+e.BUTTON.btn.btn.btn-warning(type="submit") Отправить
			+polite()
		// #modal-call
	// modal