mixin s-review()
	// start s-review
	+b.SECTION.s-review.section#s-review&attributes(attributes)
		.container.bg-wrap
			+e.IMG.abs-img(src='img/@2x/review-right.png' alt='')
			+b.section-title
				h2 Отзывы

			+e.row.row
				+e.col.col-md-6
					+e.item
						+e.item-img-wrap
							img(src='img/@2x/review-i1.jpg' alt='')
						+e.item-descr
							+e.item-title Таня
							+e.item-text «Отличная гостиница, особенно в соотношении цена-качество. Чистый номер. Вообщем все понравилось»
				+e.col.col-md-6
					+e.item
						+e.item-img-wrap
							img(src='img/@2x/review-i2.jpg' alt='')
						+e.item-descr
							+e.item-title Сергей
							+e.item-text «Расположен достаточно удобно. До центра (площадь Восстания) 5 минут пешком. Находится в тихом дворике. За окном тишина и покой )»
				+e.col.col-md-6
					+e.item
						+e.item-img-wrap
							img(src='img/@2x/review-i3.jpg' alt='')
						+e.item-descr
							+e.item-title Anastasya
							+e.item-text «Понравилось все! Нас встретила приветливая девушка, все рассказала и показала. Возникла проблема со светом, и нас переселили в такой же номер, но на этаж ниже. Вопрос был решён моментально. Кровать очень удобная, Все как на фото, и хорошо показывает телевизор. Берите сразу обогреватель, если мерзлячки, как я.)))»
				+e.col.col-md-6
					+e.item
						+e.item-img-wrap
							img(src='img/@2x/review-i4.jpg' alt='')
						+e.item-descr
							+e.item-title Natalya
							+e.item-text «Очень удобное расположение - от Московского вокзала недалеко пешком, до большинства интересных мест Питера добираться в пределах получаса (рядом метро и по Невскому, до которого минута пешком, ходит куча транспорта). Рядом много кафе на любой кошелек, в том числе столовые, где можно неплохо пообедать за 200 рублей (у кого какой аппетит, конечно). Персонал аппартаментов вежливый. К чистоте претензий нет. В номере была питьевая вода, чай, кофе, сахар, что тоже очень мило.»
	// end s-review