mixin header()

	// start HEADER.header
	+b.HEADER.header.bg-wrap.block-with-lazy
		img.bg-img(src='img/@2x/header-bg.jpg' alt='')
		.container.bg-wrap
			img.abs-img(src='img/@2x/header-plant.png' alt='')
			+e.A.booking-block(href='#')
				img.res-i(src='img/@2x/header-booking.png' alt='')
				+e.booking-text Оценка по отзывам на букинге 9,2
			block
	
	// end HEADER.header
